body a:hover {
  text-decoration: none;
}
body .page-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
body .page-container .social-block {
  margin-top: 10px;
  position: relative;
  left: -10px;
}
body .page-container .social-block i {
  margin: 0 3px;
  font-size: 48px;
}
body .page-container .social-block i.fa-github {
  color: #333333!important;
}
body .page-container .social-block i.fa-twitter-square {
  color: #5EA9DD;
}
body .page-container .social-block i.fa-google-plus-square {
  color: #DF4B38;
}
body .page-container .social-block i.fa-envelope {
  color: #555555;
}
body .ggj14-image img {
  width: 80px!important;
}
body .ggj15-image img {
  width: 80px!important;
}
