body
{

  a:hover { text-decoration: none; }

  .page-container
  {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	.social-block { margin-top: 10px; position: relative; left: -10px; }
	.social-block i { margin: 0 3px; font-size: 48px; }
	.social-block i.fa-github { color: #333333!important; }
	.social-block i.fa-twitter-square { color: #5EA9DD; }
	.social-block i.fa-google-plus-square { color: #DF4B38; }
	.social-block i.fa-envelope { color: #555555; }
  } // close .page-container


  .ggj14-image {
	img { width: 80px!important; }
  }

  .ggj15-image {
	img { width: 80px!important; }
  }

} // close body